.container-about{
    
    display: flex;
     
}

.container-about>button:disabled {
    background-color: grey; 
    opacity: 50%;
}

#title {
    width: 30em;
    height: 3rem;

    overflow-y: auto;
    
    background-color: #f0f0f0;
    
    padding: 8px;
    
    font-size: 1em;
    color: #333;
    
    border: 0.1rem solid #ccc;
    border-radius: 4px;

}
#title:disabled{
    opacity: 50%;
    color: black;
}

#description  {
    
    width: 30em;
    height: 10rem;

    background-color: #f0f0f0;
    
   
    padding: 8px;
        font-size: 1em;
    color: #333;
    
    border: 0.1rem solid #ccc;
    border-radius: 4px;
}

#description:disabled{
    opacity: 50%;
    color: black;
}

#uploadImage:disabled{
    opacity: 50%;
}