/* Estilos CSS adicionales */
.signup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 calc(33.33% - 20px);
}

select,
input {
  width: calc(100% - 22px); /* Restamos 22px para compensar el padding y el borde de los inputs */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Hace que el ancho incluya el padding y el borde */
}

label {
  margin-top: 10px; /* Puedes ajustar este valor según sea necesario */
  margin-bottom: 0;
  padding: 0%;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  display: block;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  padding-top: 5%;
  color: rgb(82, 15, 121);
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
}
